manifest {
  description = 'Proof of concept of a Rna-seq pipeline implemented with Nextflow' 
  nextflowVersion = '>= 20.01.0'
}

process {
  container = 'santiagomillan/tfg_pipeline@sha256:2cbcb408851f30e5665a76754f6c4cb2724710c464e9790ea0219b24dc7abafa'
}

profiles {
  s3test {
    params.reads = "s3://cbcrg-eu/ggal/*_{1,2}.fq"
    params.annot = "s3://cbcrg-eu/ggal/ggal_1_48850000_49020000.bed.gff"
    params.genome = "s3://cbcrg-eu/ggal/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
  }
}
